body {
	
	text-decoration: none;
	
}
.banner {
	
	background-color: rgb(15,110,255);
	border-color: rgb(15,110,255);
	padding: 30px;
	margin: 15px;
	
}
#homepageButton {
	
	text-align:center;
	color: white;
	font-family: font-family: Montserrat, Arial, Sans Serif;
	
}
.description  {
	text-align:center;
}
#image1 {
	
	align:middle;
	
}
@media all and (max-width: 600px) {
  #img {
  	max-width: 200px;
  }
}
	

