.menu-container {
	background-color: rgb(15,110,255);
	border-color: rgb(15,110,255);
	padding: 5px 0;
	font-size: 20px;
	position: relative;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
	display: flex;
	justify-content: center;
}
.menu {
	width: 90%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.button1 {
	order: 2;
}
.button2 {
	order: 1;
}
.button3 {
	order: 3;
}
.button1, .button2, .button3 {
	color: white;
	text-decoration: none;
}
		
			

