.banner {
	
	background-color: rgb(15,110,255);
	border-color: rgb(15,110,255);
	padding-top: 20px;
	padding-bottom: 70px;
	
}
#homepageButton {
	
	position: fixed;
	left: 50%;
	color: white;
	font-family: font-family: Montserrat, Arial, Sans Serif;
	
}
#factsButton {
	
	position: fixed;
	left: 9%;
	color: white;
	
}
#placeholder {
	position: fixed;
	right: 9%;
	color: white