.banner {
	
	background-color: rgb(15,110,255);
	border-color: rgb(15,110,255);
	padding-bottom: 70px;
	font-size: 20px;
	position: relative;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
	
}
#homepageButton {
	
	position: absolute;
	left: 50%;
	color: white;
	
}
#factsButton {
	
	position: absolute;
	left: 9%;
	color: white;
	
}
#placeholder {
	position: absolute;
	right: 9%;
	color: white
}
@media all and (max-width: 600px) {
	#homepageButton {
		left: 35%;	
	}
}
